<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uhclproject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF1665A71C6C217F003F66CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1665BD1C6C2180003F66CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1665C81C6C2180003F66CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
